@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;600;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
}

a,
p,
div {
    font-family: 'Lato', sans-serif;
}

:root {
    --wrapper-width: 1320px;
    --section-padding: 4rem 0;
}

.wrapper {
    width: 100%;
    max-width: var(--wrapper-width);
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 100%;
}

.flex-box {
    --flex-gap: 2.3rem;
    display: flex;
    margin-left: calc(var(--flex-gap) /-2);
    margin-right: calc(var(--flex-gap) /-2);
}

.flex-box>* {
    padding-left: calc(var(--flex-gap) /2);
    padding-right: calc(var(--flex-gap) /2);
}


.half-box {
    flex: 0 0 50%;
    width: 50%;

}
.tripple-box{
    flex: 0 0 33.3333%;
    width: 33.3333%;
}


.primary-btn {
    display: inline-block;
    color: var(--light-text-color);
    padding: 1rem 1.9rem;
    background-color: var(--secondary-branding-color);
    border-radius: 0.8rem;
    font-size: 1.3rem;
    transition: all 300ms ease;
}

.primary-btn:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
    display: inline-block;
    color: var(--content-color);
    padding: 1rem 1.9rem;
    background-color: var( --light-bg-color);
    border-radius: 0.8rem;
    font-size: 1.3rem;
    border: 1px solid var(--primary-branding-color);
    margin: 3rem 0;
    user-select: none;
    cursor: pointer;
}
.color-mode{
    position: absolute;
    position: fixed;
    z-index: 1000;
    right: 1rem;
    top: 12rem;
    font-size: 2rem;
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
    border-radius: 4px;
}
.color-mode .fa-sun{
    display: none;
}
body.dark-mode .fa-sun{
    display: inline-block;
}
body.dark-mode .fa-moon{
    display: none;
}


.back-to-top{
    font-size: 2rem;
    color: var(--light-text-color);
    background-color: var(--primary-branding-color);
    border: 1px solid var(--light-text-color);
    display: inline-block;
    position: fixed;
    padding: 1rem;
    right: 1rem;
    bottom: 1rem;
}
.back-to-top{
    display: none;
}







/* media-screen */


/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    :root {
        --wrapper-width: 1140px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    :root {
        --wrapper-width: 1000px;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    :root {
        --wrapper-width: 720px;
    }
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    :root {
        --wrapper-width: 540px;
    }
}


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    :root {
        --wrapper-width: 100%;
    }
}