@import url(color-variable.css);
@import url(global.css);


.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 8px 5px 23px rgba(0, 0, 0, 0.2);
}


.branding-logo {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--primary-heading-color);
    font-family: 'Poppins', sans-serif;
}

.nav-block {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-menu {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.nav-items {
    margin-left: 1.9rem;
}

.nav-link {
    display: block;
    line-height: 2rem;
    font-size: 1.3rem;
    color: var(--primary-heading-color);
    position: relative;
    transition: all 300ms ease;
}

.nav-link::before {
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: var(--primary-branding-color);
    transform: scaleX(0);
    transition: all 300ms ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    color: var(--primary-branding-color);
}


.social-menu {
    display: flex;
}

.social-items {
    margin-left: 1.5rem;
}

.social-link {
    display: block;
    font-size: 1.1rem;
    color: var(--light-text-color);
    background-color: var(--primary-branding-color);
    border-radius: 50%;
    height: 1.9rem;
    width: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    transition: all 300ms ease;
}

.social-link:hover {
    color: var(--primary-branding-color);
    background-color: var(--light-text-color);
    transition: all 300ms ease;
}

/* toggle bar */
.toggle {
    width: 2rem;
    height: 2.2rem;
    border: 1.5px solid var(--dark-bg-color);
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 5px;
}

.close {
    font-size: 2rem;
    display: none;
}

.open {
    font-size: 2rem;
    display: block;
}

/* header-section */


.header-section {
    min-height: 100vh;
    background: var(--header-bg-color);
    border-bottom-left-radius: 70% 30%;
    border-bottom-right-radius: 70% 30%;
    position: relative;
    overflow: hidden;
}

.header-section::before {
    content: "AF";
    position: absolute;
    font-size: 50rem;
    top: 0;
    right: -3rem;
    line-height: 500px;
    letter-spacing: -3rem;
    color: var(--dark-text-color);
    opacity: 0.08;
}

.bg-img {
    width: 100%;
    height: calc(100vh - 5rem);
    object-position: top;
    object-fit: cover;
    margin-top: 5rem;

}

.hero-block {
    align-items: center;
    z-index: 90;
}

.hero-content h1 {
    font-size: 5rem;
}
.hero-content h1{
    color: var(--dark-text-color);
}
.hero-content h1 .highlighter {
    color: var(--secondary-branding-color);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    color: var(--content-color);
}

/* about-section */

.about-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.highlighter{
    color: var(--primary-branding-color);
}
.about-block{
    margin-top: 2rem;
    position: relative;
}
.about-block h1{
    font-size: 3rem;
    font-weight: 600;
}
.about-block p{
    color: var(--content-color);
    padding-right: 5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 1.7rem;
}
.top-img{
    border-radius: 6px;
}
.btm-img{
    position: absolute;
    width: 20rem;
    height: 15rem;
    object-fit: contain;
    object-position: top;
    left: 22rem;
    top: 11rem;
    box-shadow: 10px 20px 12px rgba(58, 58, 58, 0.3);
    border-radius: 6px;
}

.progress-block{
    visibility: hidden;
    height: 0;
}
.progress-block.show{
    visibility: visible;
    height: auto;
}

.progress-bar{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    display: block;
}
.progress-bar p{
    color: rgb(65, 62, 62);
    font-weight: 400;
    margin-bottom: 10px;
}
.back-line{
    width: 100%;
    height: .5rem;
    background-color: #e9e6e5;
    border-radius: 6px;
}
.front-line{
    height: .5rem;
    text-align: right;
    padding: 0 10px;
    background-color: var(--primary-branding-color);
    font-size: 12px;
    border-radius: 6px;
    color: white;
}


/* services */

.services{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--primary-branding-color);
}
.middle-text{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 4rem;
}
.middle-text h1{
    color: var(--light-text-color);
    font-size: 3rem;
    margin-bottom: 1.7rem;
}
.middle-text p{
    color: var(--light-text-color);
    font-size: 1.1rem;
}

.service-section {
    --flex-gap: 2.3rem;
}

.box-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--icon-color);
    margin-bottom: 4rem;
    
}
.box-icon .fas{
    font-size: 2rem;
    border: 1px solid var(--icon-color);
    border-radius: 50%;
    padding: 1.5rem;
}
.box-content{
    margin-left: 2rem;
    color: var(--light-bg-color);
    line-height: 1.7rem;
}
.box-content h2{
    margin-bottom: 1rem;
}
.box-content p{
    color: var(--icon-color);
}


/* short-detail */

.avaible{
    background-color: var(--light-bg-color);
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.detail h1{
    font-size: 3rem;
    color: var(--dark-text-color);
    margin-bottom: 1.3rem;
}
.hire{
    font-size: 1.2rem;
}


/* testimonial */


.testimonial{
    border-bottom-left-radius: 70% 30%;
    border-bottom-right-radius: 70% 30%;
    background-color: var(--primary-branding-color);
}


.myslides{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.slider p{
    color: var(--light-text-color);
    font-size: 1.1rem;
}
.slider h3{
    margin-top: 2rem;

}

/* portfolio */

.portfolio-section{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.portfolio{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}
.mid-content p{
    color: var(--primary-branding-color);
    font-size: 1.3rem;
    font-weight: 600;
}
.mid-content h1{
    font-size: 4rem;
    margin-top: 1rem;
    color: var(--dark-text-color);
    letter-spacing: -.1rem;
}
.mid-menu{
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 6rem ;
    font-size: .8rem;
    color: var( --content-color);
}
.mid-link{
    margin-left: 4rem;
    background-color:var(--primary-branding-color);
    padding: .4rem 1rem;
    border-radius: 4rem;
}
.portfolio-img {
    opacity: 1;
    transition: .5s ease;
    width: 100%;
    display: block;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mid-text:hover .portfolio-img{
    opacity: 0.5; 
}
.mid-text{
    position: relative;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.mid-text:hover .middle{
    opacity: 1; 
}
.text {
    color: var(--light-text-color);
    font-size: 1.3rem;
}





/* mobile-responsive */

@media screen and (max-width:991px) {
    .wrapper {
        padding: 0 25px;
        overflow: hidden;
    }

    .flex-box {
        flex-wrap: wrap;
    }

    .navbar {
        height: auto;
    }

    .nav-menu {
        width: 100%;
        top: 0;
        left: 0;
        position: relative;
        transform: none;
        display: none;
        background-color: var(--header-effect-color);
    }

    .nav-link {
        display: block;
        text-align: center;
    }

    .nav-items {
        padding: 10px 0;
    }

    .social-menu {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: none;
        background-color: var(--header-effect-color);
    }

    .toggle {
        display: flex;
    }

    #checkbox:checked~.nav-menu {
        display: block;
    }

    #checkbox:checked~.social-menu {
        display: flex;
        justify-content: center;
    }

    #checkbox:checked~.toggle .open {
        display: none;
    }

    #checkbox:checked~.toggle .close {
        display:block;
    }
}






/* media-screen */


/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
.hero-content {
    margin-right: 1rem;
    margin-top: 4rem;
    }

.hero-content h1{
    font-size: 3rem;
}
.hero-content p{
    font-size: 1.3rem;
}
/* ul .social-menu{
    margin-left: auto;
} */

}


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .social-menu{
        position: relative;
        /* left: 2rem; */
    }
    .hero-block{
        padding-right: 3rem;
    }
    /* ul .social-menu{
        margin-left: auto;
    } */
    .nav-block{
        margin:0 1rem ;
    }
    
}


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .hero-block{
        flex-direction: column-reverse;
        width: 100%;
        flex-basis: 100%;
        margin-top: 3rem;
    }
    .hero-block .half-box{
       width: 100%;
       flex-basis: 100%;
    }
    .bg-img{
        object-fit: contain;
    }
 
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .header-section::before{
        font-size: 40rem;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
}



/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .header-section::before{
        font-size: 35rem;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
}